<!-- src/components/NavLink.astro -->
---
export interface Props {
  href: string;
  label: string;
  ariaCurrent?: 'page' | 'location' | 'true' | 'false';
}
const { href, label, ariaCurrent } = Astro.props as Props;
---
<a href={href} class="text-primary-100 hover:text-primary-300 transition-colors" aria-current={ariaCurrent ?? undefined}>
  {label}
</a>
